@import "kickstart-node/css/kickstart.min.css";

body {
  padding: 10px;
}

.tabs {
  .tab-input-tab a {
    background-color: #E0F8F1;
  }
  .tab-csv-tab a {
    background-color: #E0F8E0;
  }
  .tab-result-tab a {
    background-color: #F1F8E0;
  }
}

.size-input {
  position: relative;
  .color {
    width: 40px;
    height: 40px;
    border: 4px solid #eee;
    border-radius: 20px;
    cursor: pointer;
  }
  /* hack for swatches*/
  div[style*="overflow-y:scroll;"] {
    height: auto !important;
  }
}

.csv-area-wrapper {
  &:first-child {
    margin-bottom: 30px;
  }
  &:last-child {
    margin-top: 30px;
  }
  .csv-area {
    width: 100%;
    height: 200px;
  }
  .csv-buttons {
    margin-top: 20px;
  }
}
hr {
  border-top: 1px dashed #bbb;
}

.result {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    counter-increment: lumber-counter;
    font-size: 1.8em;
    margin-top: 24px;
  }
  li:before {
    content: counter(lumber-counter);
    margin-right: 5px;
    font-size: 100%;
    background-color: rgb(0,200,200);
    color: white;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 3px;
  }
}
.lumber-wrapper {
  margin-top: 10px;
  .lumber-info {
    margin: 0;
    padding: 0;
    font-size: 15px;
    .cut {
      margin-right: 10px;
      .cut-size {
        font-size: 12px;
        color: gray;
        &:before {
          content: " (";
        }
        &:after {
          content: "mm)";
        }
      }
      .cut-color {
        display: inline-block;
        width: 18px;
        height: 18px;
        border: 2px solid #eee;
        border-radius: 9px;
        position: relative;
        top: 3px;
      }
    }
    .lumber-rest {
      color: gray;
    }
  }
  .lumber {
    width: 100%;
    height: 22px;
    background-color: #F7F1D7;
    line-height: 14px;
    display: flex;
    .cut {
      border: 1px solid #888;
      text-align: center;
      .cut-size {
        font-size: 12px;
        vertical-align: middle;
      }
    }
  }
}
